body {
	background-color: $bg-color;
	font-size: 1rem;

	.bg-primary, .btn-primary {
		background-color: $primary-color !important;
	}

	.btn-primary {
		border-color: $primary-color !important;
	}

	.btn-primary:hover,.btn-primary:focus {
		background-color: $accent-color !important;
		border-color: $accent-color !important;
	}

	.link-primary {
		color: $primary-color;
	}

	.multi-step-item.active .multi-step-icon {
		background-color: $primary-color;
	}

	@media (max-width: $grid-float-breakpoint - 1) {
		margin-top: $margin-top-body;
	}
}

// Source Sans Pro applied only on:

.clay-docs-title,
.sidebar-clay-site,
.home {
	font-family: $font-family-system;
}

// temporal hide

.style-toggler {
	display: none;
}